In [96]:
import pandas as pd
data=pd.read_csv(r'C:\Users\HP\Desktop/BMI_Dataset.csv')
data.describe()
data

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70
5  Female       167        82

In [97]:
class BMICalculator:
    
    #BMI calculation
    def calculator_BMI(self,weight,height):
        return round(weight/((height/100)**2),2)
    
    #classifying person based on BMI values 
    def classify_person_based_BMI(self,bmi):
        if bmi<=18.49:
            return "Underweight:Malnutrition risk"
        elif bmi>=18.5 and bmi<=24.99:
            return "Normal weight:Low risk"
        elif bmi>=25 and bmi<=29.99:
            return "Overweight:Enhanced risk"
        elif bmi>=30 and bmi<=34.99:
            return "Moderately obese:Medium risk"
        elif bmi>=35 and bmi<=39.99:
            return "Severely obese:High risk"
        else:
            return "Very severely obese:Very high risk"
        
    #overWeight count
    def overweight_count(self,data):
        count=0
        for i in range(len(data["BMI Category"])):
            if bmi_category[i]=="Overweight":
                count+=1
        return count
    
    #adding new columns
    def add_columns(self,data):
        bmi=pd.Series([])
        health_risk= pd.Series([])
        bmi_category=pd.Series([])
        for i in range(len(data)):
            height= data["HeightCm"][i] 
            weight=data["WeightKg"][i]
            bmi[i]=self.calculator_BMI(weight,height)
            bmi_category_list=self.classify_person_based_BMI(bmi[i]).split(":")
            health_risk[i]=bmi_category_list[1]
            bmi_category[i]=bmi_category_list[0]
        data.insert(3, "BMI", bmi)
        data.insert(4, "BMI Category", bmi_category)
        data.insert(5, "Health risk", health_risk) 

bmi_calculator=BMICalculator()
bmi_calculator.add_columns(data)
print("Number of Overweight Persons: "+ str(bmi_calculator.overweight_count(data)))

Number of Overweight Persons: 1

C:\Users\HP\AppData\Local\Temp/ipykernel_19448/2143306839.py:32: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  bmi=pd.Series([])
C:\Users\HP\AppData\Local\Temp/ipykernel_19448/2143306839.py:33: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  health_risk= pd.Series([])
C:\Users\HP\AppData\Local\Temp/ipykernel_19448/2143306839.py:34: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  bmi_category=pd.Series([])

In [98]:
data

   Gender  HeightCm  WeightKg    BMI      BMI Category    Health risk
0    Male       171        96  32.83  Moderately obese    Medium risk
1    Male       161        85  32.79  Moderately obese    Medium risk
2    Male       180        77  23.77     Normal weight       Low risk
3  Female       166        62  22.50     Normal weight       Low risk
4  Female       150        70  31.11  Moderately obese    Medium risk
5  Female       167        82  29.40        Overweight  Enhanced risk